<aside class="sidebar">
    <nav class="sidebar-nav">
      <a [routerLink]="['/admin/timesheetrequest']" class="sidebar-link">Timesheets request</a>
      <a [routerLink]="['/admin/leaverequests']" class="sidebar-link">Leaves request</a>
      <a [routerLink]="['/admin/employeesearch']" class="sidebar-link">EmployeeSearch</a>
      <a [routerLink]="['/admin/timesheet']" class="sidebar-link">Timesheets</a>
      <a [routerLink]="['/admin/leave']" class="sidebar-link">leaves</a>
      <a [routerLink]="['/admin/searchresume']" class="sidebar-link">Find Candidates</a>
    </nav>
</aside>
  
