<aside class="sidebar">
    <nav class="sidebar-nav">
      <a [routerLink]="['/admin/Timesheetsrequest']" class="sidebar-link">Timesheets request</a>
      <a [routerLink]="['/admin/leaverequests']" class="sidebar-link">Leaves request</a>
      <a [routerLink]="['/admin/EmployeeSearch']" class="sidebar-link">EmployeeSearch</a>
      <a [routerLink]="['/admin/Timesheets']" class="sidebar-link">Timesheets</a>
      <a [routerLink]="['/admin/leave']" class="sidebar-link">leaves</a>
      <a [routerLink]="['/admin']" class="sidebar-link">DashBoard</a>
    </nav>
  </aside>
  
