<div class="table-container">
    <table class="timesheet-table">
      <thead>
        <tr>
          <th>Username</th>
          <th>Email</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Total Hours</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.startDate | date: 'MMM dd, yyyy' }}</td>
          <td>{{ user.endDate | date: 'MMM dd, yyyy' }}</td>
          <td>{{ user.totalHours }}</td>
          <td class="actions">
            <button class="btn-accept" (click)="acceptTimesheet(user.id)">
              Accept
            </button>
            <button class="btn-reject" (click)="rejectTimesheet(user.id)">
              Reject
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  