.form-group {
    margin-bottom: 15px;
  }
  
  .form-control {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
 
  .form-spe {
    width: 15%;
    padding: 8px;
    box-sizing: border-box;
  }
  
  .btn {
    padding: 10px 15px;
    cursor: pointer;
  }
  
  .error {
    color: red;
    font-size: 0.875em;
  }

  .btn1 {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #4CAF50; /* Green background */
    border: none;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btn1:hover {
    background-color: #45a049; /* Darker green on hover */
  }
  
  