
  
  <div class="company-info">
    <h2>About Miracle Software Systems</h2>
    <p>
      Miracle Software Systems is a leading provider of innovative software solutions
      dedicated to delivering cutting-edge technology and exceptional customer service.
      Our team of experts specializes in creating custom software solutions tailored to
      meet the unique needs of businesses across various industries. With a commitment
      to excellence and a passion for technology, we strive to empower our clients with
      the tools they need to succeed in a rapidly evolving digital landscape.
    </p>
  </div>
  <div class="grid-container">
    <div class="grid-item">
      <img src="assets/miracle.jfif" alt="Image 1" />
      <div class="caption">Image 1 Description</div>
    </div>
    <div class="grid-item">
      <img src="assets/miracle1.jfif" alt="Image 2" />
      <div class="caption">Image 2 Description</div>
    </div>
    <div class="grid-item">
      <img src="assets/miracle2.jfif" alt="Image 3" />
      <div class="caption">Image 3 Description</div>
    </div>
    <div class="grid-item">
      <img src="assets/miracle3.jfif" alt="Image 4" />
      <div class="caption">Image 4 Description</div>
    </div>
  </div> 