
<div class="calendar">
    <div class="calendar-header">
      <button mat-icon-button (click)="previousMonth()">
        <mat-icon>chevron_left</mat-icon>
      </button>
      <h2>{{ months[currentMonth] }} {{ currentYear }}</h2>
      <button mat-icon-button (click)="nextMonth()">
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>
    <div class="calendar-body">
      <div class="weekdays">
        <div *ngFor="let day of weekDays" class="weekday">{{ day }}</div>
      </div>
      <div class="days">
        <div *ngFor="let day of daysInMonth; let i = index"
             [ngClass]="{'holiday': isHoliday(day)}"
             (click)="openHolidayPopup(day)">
          {{ day }}
        </div>
      </div>
    </div>
  </div>
  