<app-header></app-header>

<div class="home-container">
    <section class="hero">
      <img src="assets/miracle.jfif" alt="Miracle" class="hero-image"/>
      <div class="hero-text">
        <h1>Welcome to Miracle Mini Hubble</h1>
        <p>
          At Miracle, we believe in an Always-Available, Innovation-First approach that enables us to be a trusted partner for our customers in their transformation journeys. We emphasize putting our customers and employees first, which is at the core of our success as we continue to go above and beyond with game-changing innovations.
          We can begin with assessing your business and technology priorities to define a digital transformation roadmap and help you identify opportunities for change. Through our technology partnerships and thought leadership, we can then be your partner of choice to make your transformation vision a reality. We empower our customers to become digital leaders using Cloud-First Applications, Automation-Powered Workflows, Enterprise Integrations and Data-Driven Insights.
        </p>
        <button (click)="learnMore()" class="cta-button">Learn More </button>
      </div>
    </section>
    
    <section class="features">
      <div class="feature">
        <h2>Our Vision</h2>
        <p>Miracle has partnered with over 30, of the most advanced, top ranking technology firms, like AWS, Google Cloud, Microsoft, UiPath, SAP, and IBM, to support customers in their Cloud, Automation, Data and Integration journeys. Through our strategic partnerships with these top companies, we help our customers to implement and adopt the best-in-class software solutions and services. Being a technology-agnostic solution provider allows us to lead with a solution-first mindset and a passion for adding value to your bus</p>
      </div>
      <div class="feature">
        <h2>Our Services</h2>
        <p>We love new challenges and innovation is part of our DNA. Our teams are always evaluating new trends and technology to find better solutions for enterprises. The expertise of working with 42 of the world's Fortune 100 and the experience of evolving with our customers over the last 30 years gives our teams a unique perspective in understanding the needs of a truly Digital Enterprise.</p>
      </div>
      <div class="feature">
        <h2>Contact Us</h2>
        <p>Our dedicated team is always available to assist you. Feel free to get in touch with us for any inquiries or support.</p>
      </div>
    </section>
  </div>
  