<app-header></app-header>

<div class="home-container">
    <section class="hero">
      <img src="assets/miracle.jfif" alt="Miracle" class="hero-image"/>
      <div class="hero-text">
        <h1>Welcome to Miracle Mini Hubble</h1>
        <p>
          At Miracle Real Estate, we believe in turning your property dreams into reality. With years of experience in the real estate market, our team of experts is dedicated to providing you with exceptional service and unparalleled expertise. Whether you're buying, selling, or renting, we're here to guide you every step of the way.
        </p>
        <button (click)="learnMore()" class="cta-button">Learn More</button>
      </div>
    </section>
    
    <section class="features">
      <div class="feature">
        <h2>Our Vision</h2>
        <p>We strive to be the leading real estate company known for its commitment to integrity, excellence, and customer satisfaction.</p>
      </div>
      <div class="feature">
        <h2>Our Services</h2>
        <p>From buying and selling properties to comprehensive market analysis, we offer a range of services to meet your real estate needs.</p>
      </div>
      <div class="feature">
        <h2>Contact Us</h2>
        <p>Our dedicated team is always available to assist you. Feel free to get in touch with us for any inquiries or support.</p>
      </div>
    </section>
  </div>
  