/* Layout Styles */
.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .main-content {
    display: flex;
    flex: 1;
  }
  
  .app-sidebar {
    width: 250px;
  }
  
  .content-area {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
  }
  
  app-footer {
    margin-top: auto;
  }
  